.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  gap: 48px;
  position: relative;
  padding: 0px 40px;
}
.sub-container {
  display: flex;
  flex-direction: column;
  gap: 69px;
}
.link-container {
  display: flex;
  gap: 48px;
}
.link {
  font-size: 60px;
  font-weight: 900;
  color: var(--lavender-200);

  cursor: pointer;
  flex-grow: 0;
}

.logo-container {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.logo {
  font-size: 24px;
  font-weight: 600;
  color: var(--blue-200);
  text-transform: uppercase;
  letter-spacing: 4px;
}
.description {
  font-size: 24px;
  font-weight: 400;
  color: var(--lavender-200);
}

.img {
  width: 780px;
  z-index: -1;
  top: 120px;

  position: absolute;
  opacity: 0.69;
  left: 17%;
}
@media screen and (max-width: 1200px) {
  .logo-container {
    text-align: unset;
  }
  .sub-container {
    width: 100%;
  }
  .img {
    width: 699px;
    z-index: -1;
    top: 15%;
    left: 50%;
    position: absolute;
  }
  .link-container {
    display: flex;
    flex-direction: column;
    gap: 38px;
  }
}
@media screen and (max-width: 600px) {
  .logo-container {
    text-align: unset;
  }
  .sub-container {
    width: 100%;
  }
  .link {
    font-size: 48px;
  }
  .img {
    width: 500px;
    z-index: -1;
    top: -65px;
    left: 130px;
    position: absolute;
  }
  .link-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}
